<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
</head>
  <body>
    <header>
      <div id="mainMenu">
        <strong><nav>
          <ul class="option">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('chamber') }}">Chamber</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
{% block content %}
{% endblock %}
 </body>
</html>
